* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #05091F;
}

.brand {
  margin-top: -7px;
  font-size: 36px;
  color: #fff;
}
.brand span {
  color: #0377E3;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-weight: 500;
  padding-top: 10px;
}
.menu li {
  list-style: none;
}
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
}
.menu .active {
  color: #0377E3;
  font-weight: 550;
}
.menu a:hover {
  background-color: #0377E3;
  color: #191c32;
  border-radius: 15px;
}

/*Fin Navbar*/
/*Home*/
.wrapper {
  width: 100vw;
  height: 75.6vh;
  background-color: #05091F;
  color: #fff;
}

.section-home {
  margin: 0 auto;
  width: 85vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 3em;
}

span {
  color: #0377E3;
}

.welcome {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.download-cv {
  padding: 10px 20px;
  background-color: #0377E3;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}
.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}

.profile-img {
  border: 7px solid #0377E3;
  width: -360px;
  height: 450px;
  z-index: 1;
  border-radius: 388px;
  margin-left: 100px;
  background-color: #717171;
}

/*Fin Home */
/*Trayectoria*/
.section-trayectoria {
  background-image: url(../imagenes/fondo\ trayectoria.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trayectoria {
  text-align: center;
  padding: 15px 0;
}

.title {
  color: #ffffff;
  display: inline;
  width: auto;
  font-size: 3.5rem;
  font-weight: 700;
  border-bottom: 1px solid #26858f;
}

.subtitle {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 15%;
  padding-right: 15%;
}

.container {
  display: flex;
  width: 50%;
  justify-content: space-around;
  padding-top: 10px;
}

.card {
  width: 18rem;
}

/*Fin Trayectoria*/
/*Proyectos*/
.proyectos-section {
  background-image: url(../imagenes/proyectos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.proyectos {
  text-align: center;
  padding: 15px 0;
}

.title-pro {
  color: #ffffff;
  display: inline;
  width: auto;
  font-size: 3.5rem;
  font-weight: 700;
  border-bottom: 1px solid #26858f;
}

.subtitle-pro {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px;
  margin-bottom: 1rem;
}

.container-proyectos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 10px;
}

/*Fin Proyectos*/
/*Sobre Mi*/
.sobre-mi-section {
  background-image: url(../imagenes/sobre\ mi\ Fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75.6vh;
}

.sobre-mi {
  text-align: center;
  padding: 15px 0;
}
.sobre-mi .card-info-personal a .download-cv {
  margin-top: 0;
}

.title-sob {
  color: #ffffff;
  display: inline;
  width: auto;
  font-size: 3.5rem;
  font-weight: 700;
  border-bottom: 1px solid #26858f;
}

.subtitle-sob {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px;
  margin-bottom: 1rem;
  padding-left: 15%;
  padding-right: 15%;
}

.subtitles {
  color: #fff;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1rem;
}

.container-conocimientos {
  display: flex;
  justify-content: space-around;
  margin-top: -0.75rem;
  width: 100%;
}

.figma-card {
  margin-right: auto;
  margin-left: auto;
}

.figma {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.logos {
  height: 125px;
  width: 125px;
  vertical-align: middle;
  margin-bottom: 20px;
}

/*Fin Sobre Mi*/
/*Contacto*/
.contact-section {
  background-color: #05091F;
  width: 100vw;
  height: 75.5vh;
}

.contact {
  text-align: center;
}

.title-cont {
  color: #ffffff;
  display: inline;
  width: auto;
  font-size: 3.5rem;
  font-weight: 700;
  border-bottom: 1px solid #26858f;
}

.contact-form {
  width: 90%;
  margin: 5px auto;
  padding: auto;
  display: flex;
  justify-content: space-between;
}

.contact-info {
  margin: 20px auto;
  text-align: start;
  justify-content: start;
}

.cont-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  padding-top: 50px;
  text-align: center;
}

.main-text {
  margin-top: 120px;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
}

.info li {
  list-style: none;
  color: #ffffff;
  font-size: 1.4rem;
}
.info b {
  font-weight: 500;
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 7px auto;
  justify-content: end;
  padding-top: 10px;
}

.main-text-form {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

label {
  color: #fff;
  text-align: start;
  margin-bottom: 5px;
}

.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.form textarea {
  background: none;
  color: #fff;
  padding: 1.5em;
  border: 1px solid #fff;
}

.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: #0b5ed7;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}
.btn-submit:hover {
  background-color: #fff;
  box-shadow: none;
}

/*Fin Contacto*/
/*Footer*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90px;
  background-color: #0377E3;
  padding-top: 10px;
}

.social-network {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1rem;
}
.social-network img {
  font-size: 1.5em;
  color: black;
  margin-bottom: 15px;
  margin-top: 1px;
  flex: 0 0 auto;
  width: 100%;
  width: 30px;
  height: 30px;
}

.footer-content p {
  font-size: 1em;
  margin-bottom: 20px;
  color: #000;
  font-weight: 600;
}

/*Fin Footer*/
/*Mobile*/
@media screen and (min-width: 376px) and (max-width: 425px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .brand {
    padding: 10px 20px;
    font-size: 36px;
    text-align: center;
  }
  .menu {
    padding: 15px 25px;
    display: flex;
  }
  .menu li {
    font-size: 0.85em;
  }
  .menu a {
    padding: 5px 10px;
  }
  .section-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 86vw;
  }
  section h1 {
    font-size: 7vw;
  }
  .profile-img {
    height: 36vh;
    width: 35vh;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: -10px;
    justify-content: center;
  }
  .social-network {
    width: 150px;
  }
  .footer-content p {
    font-size: 3.5vw;
  }
  .title {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1.2rem;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-top: 20px;
  }
  .title-pro {
    font-size: 2.5rem;
  }
  .subtitle-pro {
    font-size: 1.2rem;
  }
  .container-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sobre-mi-section {
    height: auto;
  }
  .title-sob {
    font-size: 2.5rem;
  }
  .subtitle-sob {
    font-size: 1.3rem;
  }
  .subtitles {
    font-size: 2.1rem;
  }
  .container-conocimientos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-section {
    height: 130vh;
  }
  .title-cont {
    font-size: 2.5rem;
    text-align: center;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .contact-info {
    margin: 0;
    padding: 0;
  }
  .cont-title {
    padding-top: 0;
    font-size: 1.3rem;
    margin-top: 15px;
  }
  .main-text {
    margin-top: 50px;
    font-size: 1.3rem;
    text-align: center;
  }
  .info {
    width: 50vh;
    padding-left: 0;
    margin-left: 50px;
  }
  .info li {
    font-size: 1.2rem;
  }
  .info li b {
    font-size: 1rem;
  }
  .form {
    width: 48vh;
    padding-top: 10px;
  }
  .main-text-form {
    padding-bottom: 10px;
  }
}
/*Fin Mobile*/
/*Mapas*/
.btn-submit {
  border: none;
  padding: 10px 20px;
}

.btn-submit:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(53, 53, 204) 21%, rgb(0, 212, 255) 100%);
}

/*Mapas*/
/*Extends*/
.download-cv:hover, .download-cv {
  padding: 10px 20px;
  background-color: #0377E3;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.download-cv:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(53, 53, 204) 21%, rgb(0, 212, 255) 100%);
  box-shadow: none;
}

/*Extends*/
/*Mixins*/
.card {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

/*Mixins*/

/*# sourceMappingURL=style.css.map */
