
/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 115px;
    background-color: #0377E3;
    padding-top: 10px;
}
.social-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1rem;

    img {
      font-size: 1.5em;
      color: black;
      margin-bottom: 15px;
      margin-top: 1px;
      flex: 0 0 auto;
      width: 100%;
      width: 30px;
      height: 30px;
    }
}
.footer-content p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #000;
    font-weight: 600;
}

/*Fin Footer*/