* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

@import "components/header";
@import "components/home";
@import "components/trayectoria";
@import "components/proyectos";
@import "components/sobremi";
@import "components/contacto";
@import "components/footer";
@import "components/mobile";
@import "base/mapas";
@import "base/extends";
@import 'base/mixins';
@import "base/variables";