/*Mobile*/
@media screen and (min-width: 376px) and (max-width: 425px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
  
    .brand {
      padding: 10px 20px;
      font-size: 36px;
      text-align: center;
    }
  
    .menu {
      padding: 15px 25px;
      display: flex;
  
      li {
        font-size: 0.85em;
      }
  
      a {
        padding: 5px 10px;
      }
    }
  
    .section-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 86vw;
    }
  
    section h1 {
      font-size: 7vw;
    }
  
    .profile-img {
      height: 36vh;
      width: 35vh;
      margin-left: 0;
      margin-bottom: 20px;
      margin-top: -10px;
      justify-content: center;
    }
  
    .social-network {
      width: 150px;
    }
  
    .footer-content p {
      font-size: 3.5vw;
    }

    .section-trayectoria {
      height: auto;
    }
    .section-trayectoria{
      
      .trayectoria{

        .container{

          .card {
            width: 55%;
          }
        }
      }
    }
    .title {
      font-size: 2.5rem;
    }
  
    .subtitle {
      font-size: 1.2rem;
      padding-left: 8%;
      padding-right: 8%;
      margin-bottom: 0;
    }
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card {
      margin-top: 20px;
    }

    .proyectos-section {
      height: auto;
    }

    .title-pro {
      font-size: 2.5rem;
    }
  
    .subtitle-pro {
      font-size: 1.2rem;
    }
  
    .container-proyectos {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .sobre-mi-section {
      height: auto;
    }
    
    .title-sob {
      font-size: 2.5rem;
    }
  
    .subtitle-sob {
      font-size: 1.3rem;
      margin-bottom: 0rem;
      padding-left: 5%;
      padding-right: 5%;
    }
  
    .subtitles {
      font-size: 2.1rem;
    }
  
    .container-conocimientos {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "figma html"
          "css sass";
          margin-left: 51px;
        .logos{
            height: 125px;
            width: 125px;
        }
    }
  
    .contact-section {
      height: 130vh;
    }
  
    .title-cont {
      font-size: 2.5rem;
      text-align: center;
    }
  
    .contact-form {
      display: flex;
      flex-direction: column;
    }
  
    .contact-info {
      margin: 0;
      padding: 0;
    }
  
    .cont-title {
      padding-top: 0;
      font-size: 1.3rem;
      margin-top: 15px;
    }
  
    .main-text {
      margin-top: 50px;
      font-size: 1.3rem;
      text-align: center;
    }
  
    .info {
      width: 50vh;
      padding-left: 0;
      margin-left: 35px;
  
      li {
          font-size: 1.2rem;
  
          b {
              font-size: 1.0rem;
          }
      }
    }

    .form {
      width: 48vh;
      padding-top: 10px;
    }

    .main-text-form {
      padding-bottom: 10px;
    }
}

/*Fin Mobile*/