/*Sobre Mi*/

.sobre-mi-section {
    background-image: url(../imagenes/sobre\ mi\ Fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75.6vh;
}
.sobre-mi {
    text-align: center;
    padding: 15px 0;

    .card-info-personal {

        a {
            .download-cv {
                margin-top: 0;
            }
        }
    }
}
.title-sob {
    color: #ffffff;
    display: inline;
    width: auto;
    font-size: 3.5rem;
    font-weight: 700;
    border-bottom: 1px solid #26858f;
}
.subtitle-sob {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px;
    margin-bottom: 1rem;
    padding-left: 15%;
    padding-right: 15%;
}
.subtitles {
    color: #fff;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 400;
    padding: 1rem;
}
.container-conocimientos {
    display: flex;
    justify-content: space-around;
    margin-top: -0.75rem;
    width: 75%;
    margin-left: 185px;
}
.figma-card {
    margin-right: auto;
    margin-left: auto;
}
.figma {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.logos {
    height: 125px;
    width: 125px;
    vertical-align: middle;
    margin-bottom: 20px;
}

/*Fin Sobre Mi*/