/*Trayectoria*/
@import "../base/variables";
.section-trayectoria {
    background-image: url(../imagenes/fondo\ trayectoria.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75.6vh;

    .trayectoria {
        
        .container{

            .card {
                width: 21%;

                .card-body{
                    padding: 0.75rem 1rem;
                }
            }
        }
    }
}
.trayectoria {
    text-align: center;
    padding: 15px 0;
}
.title {
    color: #ffffff;
    display: inline;
    width: auto;
    font-size: $title-font;
    font-weight: 700;
    border-bottom: 1px solid #26858f;
}
.subtitle {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 15%;
    padding-right: 15%;
}
.container {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

/*Fin Trayectoria*/