/*Extends*/
%botones-download {
    padding: 10px 20px;
    background-color: #0377E3;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}
.download-cv {
    @extend %botones-download;
}
.download-cv:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,53,204,1) 21%, rgba(0,212,255,1) 100%);
    box-shadow: none;
    @extend %botones-download;
}
/*Extends*/